*{
	margin: 0px;
	padding: 0px;
	font-family: verdana;
}

.container{
	padding: 20px;
}

h1{
    font-size: 36px;
	margin-bottom: 20px;
    font-family: "Rubik", sans-serif;
}

h2{
    font-size: 26px;
	font-weight: normal;
    margin-bottom: 20px;
}

.title{
    text-align: center;
}

.spinner{
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: none;
    text-align: center;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
}

.spinner > i{
	top: 180px;
    font-size:48px;
	position: relative;
}

footer{
    margin-top: 50px;
    padding: 20px;
    background: #222;
    box-sizing: border-box;
}

footer p{
    color: #e2e2e2;
    font-size: 13px;
    font-family: "Rubik", sans-serif;
}

footer p a{
    color: #e2e2e2;
}

footer p:first-child{
    margin-bottom: 10px;
}

*:focus {
    outline: none;
}

.input{
    width: 75%;
    height: 42px;    
    position: relative;
    padding: 10px 30px;
    border-radius: 150px;
    display: inline-block;
    border: 1px solid #e2e2e2;
}

.word{
    width: 100%;
    height: 42px;
    border: none;
    font-size: 22px;
    line-height: 42px;
    padding-left: 60px;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

.bt{
    top: 9px;
    float: left;
    border: none;
    display: block;
    background: none;
    position: absolute;
}

.bt > i{
    font-size: 40px;
}

@media only screen and (max-width: 656px){
    .word{
        padding-left: 18px;
    }
    .bt{
        top: 21px;
        left: 22px;
    }
    .bt > i{
        font-size: 20px;
    }
}

.result{
	display: none;
    margin-top: 40px;
}

.result > div{
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: solid 1px #ccc;
}

.result > div:last-child{
	border-bottom: 0px;
}

.result > div > p{
	margin-bottom: 5px;
}

.result > div > p > em{
    font-weight: bold;
}

.result > div > p:last-child{
    color: #969696;
}

.custom-alert{
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    background: rgba(154, 154, 154, 0.5);
}

.custom-alert .bt-close{
    float: right; 
    color: #828282;
    font-size: 16px;
}

.custom-alert .alert{
    top: 80px;
    width: 200px;
    padding: 20px;
    color: #a94442;
    background: white;
    position: relative;
    border-radius: 4px;
    display: inline-block;
    background-color: #f2dede;
    border: #ebccd1 solid 1px;
}

.alert p{
    font-size: 18px;
}

.alert .bt-ok{
    width: 70px;
    float: right;
    margin-top: 40px;
    font-weight: bold;
    border: solid 1px;
    padding: 5px 15px;
    display: inline-block;
}